html,
body {
  font-family: 'Roboto', sans-serif;
}

.intro .display-5,
.intro .lead {
  text-transform: uppercase;
}

.figure-img {
  max-width: 474px;
  height: auto;
  width: 100%;
}

/* footer */
.bd-footer {
  font-size: .875rem;
  color: #63707c;
}

.bd-footer a {
  font-weight: 600;
  color: #495057;
}